 {% block content %}
<center><br>
<h2>Login</h2>
<form method="post", action="/login/">
  {% csrf_token %}
  <label for="username"><b>Username</b></label><br>
  <input type="text" name="username" placeholder="Enter Username"><br><br>
  <label for="password"><b>Password</b></label><br>
  <input type="password" name="password" placeholder="Enter password"><br><br>
  <button type="submit">Login</button><br><br>
  <a href="{% url 'password_reset' %}">Forgot password? click here..</a>
</form>
</center>
 {% endblock %}
